.containerForgot {
  height: 640px;
  font-size: 28px;
  color: rgb(172, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
#subbtnForgot {
  width: 90%;
  background-color: #1189de;
  font-weight: bold;
  color: #fff;
}
.loginFromForgot {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 450px;
  height: 200px;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  border: 3px solid #73ad21;
}
.inputFieldForgot {
  padding: 16px;
}
.submitButtonForgot {
  padding: 9px;
}
#btnForgot {
  width: 90%;
  min-width: 270px;
  color: #565656;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
.belowloginForgot {
  padding: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 400px;
}
#forgotstyleForgot {
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
}
.loginstyleForgot {
  padding: 16px;
}

@media only screen and (max-width: 375px) {
  .containerForgot {
    height: 640px;
    font-size: 18px;
    color: rgb(172, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  #inputForgot {
    box-sizing: border-box;
    outline: none;
    border: solid 2px #1189de;
    border-radius: 4px;
    color: #292929;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
  }
  #subbtnForgot {
    background-color: #1189de;
    font-weight: bold;
    color: #fff;
  }

  #btnForgot {
    width: 40%;
    color: #565656;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
  }
  .borderForgot {
    width: 320px;
  }
  .loginFromForgot {
    box-sizing: border-box;
    width: 320px;
    height: 280px;
    max-width: 320px;
    border: 3px solid #73ad21;
  }
  .inputFieldForgot {
    padding: 10px;
  }
  .belowloginForgot {
    padding: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 320px;
  }
}
