.containerreg {
  height: 640px;
  font-size: 28px;
  color: rgb(172, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  }
  .loginstylereg {
    padding: 16px;
  }
  .regFromreg {
    display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 400px;
      height: 500px;
      max-width: 400px;
      align-items: center;
      justify-content: center;
      border: 3px solid #73ad21;
  }

  .inputFieldreg {

    padding: 16px;
  }
  #subbtnreg {
    /* width: 90%; */
    background-color: #1189de;
    font-weight: bold;
    color: #fff;
  }
  #btnreg {
    width: 90%;
    min-width: 270px;
    color: #565656;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
  }
  .helperttextreg {
    color: rgb(172, 13, 13);
    font-size: 14px;
    padding-left: 20px;
    
  }
  .Buttonregreg {
    padding: 9px;
  }



  @media only screen 
  and (max-width : 375px) {
    .containerreg {
      height: 640px;
      font-size: 28px;
      color: rgb(172, 13, 13);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }
    .loginstylereg {
      padding: 16px;
    }
    .regFromreg {
      box-sizing: border-box;
      width: 320px;
      height: 450px;
      max-width: 320px;
      border: 3px solid #73ad21;
    }
    .borderreg{
      width: 320px;
  }
  .subbtnreg{
      background-color: #1189de;
    font-weight: bold;
    color: #fff;
  }
}

